<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="16px" viewBox="0 0 19 16" version="1.1">
    <title>657C0555-ABBE-4B52-8B1C-0F15C50A32B9</title>
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="product-details-merchandise" transform="translate(-1226.000000, -705.000000)" fill-rule="nonzero" stroke="#0F1010" stroke-width="2">
            <g id="Group-15" transform="translate(1056.000000, 170.000000)">
                <g id="love" transform="translate(170.000000, 535.000000)">
                    <path d="M1.64461039,2.64184661 C4.68858033,-1.42981333 8.17697536,3.19129067 8.3988656,3.49366331 L8.41002884,3.50902289 C8.41002884,3.50902289 8.82594332,4.09205943 9.1809841,4.92485472 C9.55919036,4.08541126 9.98997116,3.50902289 9.98997116,3.50902289 C9.98997116,3.50902289 11.6992952,1.22193281 13.8247829,1.01323946 C14.7917945,0.918292368 15.8041654,1.36484638 16.7623214,2.65147565 C17.2657375,3.41575812 17.466377,4.30764818 17.3808941,5.17010194 C17.2946902,6.03983131 16.9173946,6.88028607 16.2607747,7.5318438 L16.2607747,7.5318438 L9.19999962,14.5864086 L2.13679044,7.52941941 C1.48260542,6.88028607 1.10530982,6.03983131 1.01910585,5.17010194 C0.933259479,4.30398042 1.13597421,3.40817171 1.64461039,2.64184661 Z" id="Path"/>
                </g>
            </g>
        </g>
    </g>
</svg>